<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>


    <div class="box">
        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="add item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>Add</button>
        </form>

        <% for(var i=0; i < newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>


    </div>

    <%- include("footer") -%>

